<div>{{#link-to 'meethubs.map'}}{{unbound fa-icon "fa-fixed-with fa-map-marker"}}{{/link-to}}</div>
<div>{{#link-to 'meethubs.calendar'}}{{unbound fa-icon "fa-fixed-with fa-calendar"}}{{/link-to}}</div>
