.calendar {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;

  left: 0;
  right: $side-navbar-width;
  bottom: 0;

  &.closed {
    right: 50px;
  }

  @media (min-width: $screen-sm-min) {
    top: 70px;
  }

  @media (max-width: $screen-xs-max) {
    top: 50px;
  }

  .header {
    padding: 5px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }

    .controls {
      @media (min-width: $screen-md-min) {
        position: absolute;
        right: -10px;
      }

      @media (max-width: $screen-sm-max) {
        text-align: center;
        margin: 20px 0;
      }
    }
  }

  // .bk-today {
  //   background-color: $todaybgcolor;
  // }
}
