.social-point-counter {
  cursor: default;
}

.calendar {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .header {
    padding: 5px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }

    .controls {
      @media (min-width: $screen-md-min) {
        position: absolute;
        right: -10px;
      }

      @media (max-width: $screen-sm-max) {
        text-align: center;
        margin: 20px 0;
      }
    }
  }

  .btn {
    &:focus {
      outline: none;
    }
  }

  .btn {
    &.active {
      z-index: 0;
    }
  }

  .btn-default {
    &:not(.btn-today) {
      &:focus {
        background-color: #fff;
      }
    }
  }
}

.view-toggle {
  position: absolute;
  left: 5px;
  top: 5px;

  a {
    &.active {
      .btn {
        color: $active-item-color;
      }
    }

    &:not(.active) {
      .btn {
        color: #aaa;
      }
    }

    .btn {
      padding: 3px 7px;
      font-size: 16px;
    }
  }

  :not(:first-child) {
    .btn {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -4px;
    }
  }

  :not(:last-child) {
    .btn {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.eventInv-status {
  &.attending {
    color: $blue;
  }

  &.maybe {
    color: $yellow;
  }

  &.declined {
    color: $orange;
  }
}
