.dashboard {
  @media (max-width: $screen-xs-max) {
    // font-size: 2em;
    margin-top: 30px;
  }

  @media (min-width: $screen-sm-min) {
    // font-size: 3em;
    margin-top: 50px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.dashboard-title {
  font-family: Ethno_regular, Arial, sans-serif;
  font-size: 28px;
  margin-bottom: 50px;
}

.current-section {
  color: #de2c14;
}

.item-container {
  a {
    color: $mediumgrey;

    &:hover {
      text-decoration: none;
    }
  }
}
