$list-item-background-color-active: lighten($babyblue, 10%);
$list-item-background-color-hover: lighten($babyblue, 10%);

.filter-container {
  height: 60px;
  margin-bottom: 10px;
  .main-area-list-filter {
    border: 1px solid $blue;
    color: $blue;
    border-radius: 5px;
    cursor: pointer;

    margin:10px;
    padding: 10px 12px;

    &:hover {
      color: darken($blue, 15%);
    }

    &.active {
      background-color: $blue;
      color: white;

      &:hover {
        background-color: lighten($blue, 5%);
      }
    }
  }
}

.main-area-list {
  font-size: 2rem;
  width: 100%;
  .item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bfbfbf;
    color: $blue;
    &:nth-of-type(1) {
      border-top: 1px solid #bfbfbf;
    }
    &.open {
      background-color: $list-item-background-color-active;
      .message-body {
        background-color: white;
      }
    }
    &:not(.open) {
      .message-header {
        &:hover {
          background-color: $list-item-background-color-hover;
        }
      }
    }
    .message-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 5px;
      @media (max-width: $screen-xs-max) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      &:hover {
        cursor: pointer;
      }
      .icon {
        margin-left: 5px;
        margin-right: 20px;
      }
      .info {
        display: flex;
        margin-right: 15px;
        color: $text-color;
        .eventInv-status {
          margin-right: 10px;
        }
        .social-points {
          display: flex;
          &.active {
            color: $blue;
          }
          &.highlight {
            color: $orange;
          }
          i {
            margin-right: 5px;
          }
        }
      }
      img {
        width: 30px;
        margin-right: 10px;
      }
      .subject {
        flex-grow: 2;
        @media (max-width: $screen-xs-max) {
          order: 5;
          width: 100%;
          margin-top: 10px;
        }
      }
      .new {
        color: $orange;
        font-weight: bold;
      }
    }
    .message-body {
      margin: 5px;
      padding: 10px;
      text-align: center;
      line-height: 40px;
      color: $text-color;
      .post-to-fb {
        color: $blue;
        &:hover {
          cursor: pointer;
          color: darken($blue, 10%);
        }
      }
      .participants {
        margin: 20px 0;
        img {
          width: 40px;
          border-radius: 5px;
          border: 3px solid;
        }
        .attending {
          border-color: $blue;
        }
        .attending-maybe {
          border-color: $yellow;
        }
        .declined {
          border-color: $orange;
        }
        .not_replied {
          border-color: $darkgrey;
        }
      }
      .event-cover {
        img {
          width: 100%;
        }
      }
    }
    .buttons {
      line-height: 30px;
      padding: 15px;
    }
    .button {
      width: 20%;
      margin: 0 1.66666%;
      display: inline-block;
      float: none;
      &.accept {
        border-color: $blue;
        &.active {
          background-color: $blue;
          color: white;
          cursor: default;
        }
        &:not(.active) {
          &:hover {
            color: $blue;
          }
        }
      }
      &.maybe {
        border-color: $yellow;
        &.active {
          background-color: $yellow;
          color: white;
          cursor: default;
        }
        &:not(.active) {
          &:hover {
            color: darken($yellow, 10%);
          }
        }
      }
      &.decline {
        border-color: $orange;
        &.active {
          background-color: $orange;
          color: white;
          cursor: default;
        }
        &:not(.active) {
          &:hover {
            color: $orange;
          }
        }
      }
    }
    .description {
      line-height: 1.5em;
      font-size: 16px;
      margin: 15px 0px;
    }
  }
  .search {
    input {
      width: 100%;
      padding: 3px;
      margin: 15px 0;
    }
  }
  .no_results {
    text-align: center;
    margin-top: 20px;
  }
}
