.filter-container {
  margin-bottom: 10px;
  .main-area-list-filter {
    border: 1px solid $blue;
    color: $blue;
    border-radius: 5px;
    cursor: pointer;

    margin:10px;
    padding: 10px 12px;

    &:hover {
      color: darken($blue, 15%);
    }

    &.active {
      background-color: $blue;
      color: white;

      &:hover {
        background-color: lighten($blue, 5%);
      }
    }
  }
}

.main-area-list {
  font-size: 2rem;
  width: 100%;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid $border-color;
    &:nth-of-type(1) {
      border-top: 1px solid $border-color;
    }
    &:hover {
      color: black;
      cursor: pointer;
      // background-color: #f5f5f5;
    }
    .icon {
      margin-left: 5px;
      margin-right: 20px;
    }
    img {
      width: 30px;
      margin-right: 10px;
    }
    .subject {
      flex-grow: 2;
    }
    .new {
      color: $orange;
      font-weight: bold;
    }
  }
  .search {
    input {
      width: 100%;
      padding: 3px;
      margin: 15px 0;
    }
  }
  .no_results {
    text-align: center;
    margin-top: 20px;
  }
}
