.main-area-list {
  font-size: 2rem;
  width: 100%;
  .item {
    padding: 5px 0;
    border-bottom: 1px solid $border-color;
  }
  .filter-button {
    padding: 5px;
    display: inline-block;

    &:hover {
      cursor: pointer;
      color: #000;
    }
  }
  .search {
    input {
      width: 100%;
      padding: 3px;
      margin: 15px 0;
    }
  }
  .reset-search-button {
    position: absolute;
    display: inline-block;
    margin-top: 15px;
    right: 5px;

    &:hover {
      cursor: pointer;
      color: #000;
    }

    &.do-not-display {
      display: none;
    }
  }
}
