.new_comment {

  .buttons {

    .button {
      line-height: 30px;
      margin-top: 7px;
      width: 30px;
      margin-right: 10px;

      &.save {
        border-color: $blue;

        &:not(.disabled) {
          &:hover {
            color: $blue;
          }
        }
      }

      &.cancel {
        border-color: $orange;

        &:not(.disabled) {
          &:hover {
            color: $orange;
          }
        }
      }

      &.disabled {
        cursor: default;
        border-color: #e6e6e6;
        color: #e6e6e6;
      }
    }
  }

}
