.side-nav-bar {
  position: absolute;
  font-size: 18px;

  @media (min-width: $screen-sm-min) {
    top: 70px;
  }

  @media (max-width: $screen-xs-max) {
    top: 50px;
  }

  right: 0;
  bottom: 0;
  width: $side-navbar-width;
  max-width: 100%;

  &.closed {
    width: 50px;
  }

  background-color: white;

  .map-section-title, .side-nav-item {
    padding: 15px 0;
    border-bottom: 1px solid $border-color;
  }

  .map-section-title {
    font-family: Ethno_regular, Arial, sans-serif;
    font-size: 20px;
    color: $header-text-color;
  }

  .selectable {
    cursor: pointer;

    &:hover {
      background-color: $active-item-background-color;
    }
  }

  .side-bar-links {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    padding: 5px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    font-size: 28px;

    i {
      &:hover {
        cursor: pointer;
      }
    }

    a {
      i {
        width: 100%;
      }

      &.active {

        background-color: $active-item-background-color;

        i {
          color: $link-color-active;
        }
      }

      &:not(.active) {
        i {
          color: $link-color;

          &:hover {
            color: $link-color-active;
          }
        }
      }
    }


  }

  .section-content {
    position: absolute;
    left: 50px;
    right: 0;

    &.closed {
      display: none;
    }
  }
}
