.side-nav-bar {
  position: absolute;
  overflow: hidden;
  font-size: 18px;

  @media (min-width: $screen-sm-min) {
    top: 70px;
  }

  @media (max-width: $screen-xs-max) {
    top: 50px;
  }

  right: 0;
  bottom: 0;
  width: $side-navbar-width;
  max-width: 100%;

  &.closed {
    width: 50px;
  }

  background-color: white;

  .side-bar-links {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    padding: 5px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    font-size: 28px;

    i {
      &:hover {
        cursor: pointer;
      }
    }

    a {
      i {
        width: 100%;
      }

      &.active {

        background-color: $active-item-background-color;

        i {
          color: $link-color-active;
        }
      }

      &:not(.active) {
        i {
          color: $link-color;

          &:hover {
            color: $link-color-active;
          }
        }
      }
    }
  }

  .section-content {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;

    &.closed {
      display: none;
    }

    .section-title, .side-nav-item {
      padding: 15px 10px;
      border-bottom: 1px solid $border-color;
    }

    .section-title {
      font-family: Ethno_regular, Arial, sans-serif;
      font-size: 20px;
      color: $header-text-color;
    }

    .side-nav-item-container {
      position: absolute;
      top: 115px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;

      .side-nav-item {

        &.message {

          &:not(.has-been-read) {
            .title {
              font-weight: bold;
            }
          }

          .title {
            padding: 15px 10px;

            .icons {
              position: absolute;
            }

            .subject {
              position: relative;
              left: 50px;
              width: 80%;
            }
          }

          .envelope {
            float: left;
            font-size: 24px;
            margin-top: -10px;
            margin-right: 10px;
          }

          .message-type {
            float: left;
            margin-left: -20px;
            margin-top: 6px;
          }

          .eventInvitation-status {
            float: left;
            margin: 5px -40px;
            font-size: 20px;

            &.accepted {
              color: darken($green, 10%);
            }
            &.maybe {
              color: $yellow;
            }
            &.declined {
              color: $orange;
            }
          }
        }
      }
    }
  }

  .body {
    padding: 10px;

    &:not(.open) {
      display: none;
    }

    .question {
      padding: 0 15px 15px 15px;
    }

    .button {

      width: 30%;
      margin: 0 1.66666%;
      float: left;

      padding: 2px 5px;
      margin-bottom: 10px;

      &.accept {
        border-color: $green;

        &.active {
          background-color: darken($green, 10%);
          color: white;
          cursor: default;
        }

        &:not(.active) {
          &:hover {
            color: darken($green, 10%);
          }
        }
      }

      &.maybe {
        border-color: $yellow;

        &.active {
          background-color: $yellow;
          color: white;
          cursor: default;
        }

        &:not(.active) {
          &:hover {
            color: darken($yellow, 10%);
          }
        }
      }

      &.decline {
        border-color: $orange;

        &.active {
          background-color: $orange;
          color: white;
          cursor: default;
        }

        &:not(.active) {
          &:hover {
            color: $orange;
          }
        }
      }
    }

    .start {
      line-height: 50px;

      .start_date {
        width: 40%;
        float: left;
        text-align: right;
      }

      .start_timer {
        width: 40%;
        float: right;
        text-align: left;
      }
    }

    .location {
      clear: both;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .selectable {
    cursor: pointer;
    &:hover {
      background-color: #f7f7f7;
    }
  }
}
