.navbar-default {
  background: none;

  .navbar-nav {
    li {
      a {

        &.active {
          color: black;
          background-color: $active-item-background-color;
        }

        &:not(.active) {
          @media (max-width: $screen-xs-max) {
            color: #ddd;
            font-size: 20px;

            &:hover, &:focus {
              color: white;
            }
          }
        }
      }

      .link-icon {
        float: left;
        margin-right: 3px;
      }
    }

    &.navbar-right {

      @media (max-width: $screen-xs-max) {
        color: #ddd;
        font-size: 20px;
        margin: 0 -15px 0px -15px;
      }

      li {
        &.custom-link {
          cursor: pointer;

          @media (max-width: $screen-xs-max) {
            padding: 10px 15px;
            line-height: 20px;

            &:hover, &:focus {
              color: white;
            }
          }

          @media (min-width: $screen-sm-min) {
            padding: 20px 20px;
            line-height: 20px;

            color: #777;
            font-size: 28px;

            &:hover, &:focus {
              color: black;
            }
          }
        }
      }

      .has-messages {
        i {
          color: $header-text-color;

          &:hover {
            color: lighten($header-text-color, 10%);
          }
        }
      }
    }

    .open {
      .dropdown-toggle {
        color: black !important;
        background-color: $active-item-background-color;
      }
      .dropdown-menu {
        li {
          a {

            &.active {
              color: black;
              background-color: $active-item-background-color;
            }

            &:not(.active) {
              @media (max-width: $screen-xs-max) {
                color: #ddd;

                &:hover, &:focus {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }

  .navbar-toggle {
    margin-right: 5px;
  }
}

.navbar-brand {
  font-family: Ethno_regular;
  color: $header-text-color !important;

  @media (min-width: $screen-sm-min) {
    line-height: 40px;
  }

  img {
    float: left;
    margin-right: 5px;

    @media (min-width: $screen-sm-min) {
      width: 40px;
    }

    @media (max-width: $screen-xs-max) {
      width: 20px;
    }
  }

  .brand-name {
    float: left;
  }
}

.center-links {

  font-size: 20px;

  @media (max-width: $screen-xs-max) {
    margin: 0 -15px 0px -15px;
  }

  @media (min-width: $screen-sm-min) {
    li {
      a {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
  }
}

.navbar .navbar-collapse {

  @media (min-width: $screen-sm-min) {
    text-align: center;
  }

  @media (max-width: $screen-xs-max) {
    background: rgba(76, 78, 90, 0.7);
  }
}

.dropdown-toggle {
  .account_img_container {
    display: inline-block;
    margin-right: 5px;

    img {
      height: 40px;
      @include all_browser(border-radius, 5px);
    }
  }
  .account_name {
    display: inline-block;
  }
}
