.navbar-default {
  background: #fff;

  .navbar-nav {
    li {
      a {

        &.active {
          color: $active-item-color;
          background-color: $active-item-background-color;
        }

        &:not(.active) {
          @media (max-width: $screen-xs-max) {
            color: #ddd;
            font-size: 20px;

            &:hover, &:focus {
              color: white;
            }
          }
        }
      }

      .link-label {
        @media (max-width: $screen-xs-max) {
          margin-left: 30px;
        }
      }

      .link-icon {
        float: left;
        margin-right: 3px;

        @media (max-width: $screen-xs-max) {
          margin-right: 30px;
        }
      }
    }

    &.navbar-right {

      @media (max-width: $screen-xs-max) {
        color: #ddd;
        font-size: 20px;
        margin: 0 -15px 0px -15px;
      }

      li {
        &.custom-link {
          cursor: pointer;

          @media (min-width: $screen-sm-min) {
            a {
              height: 70px;
              width: 50px;
              padding: 20px 10px;

              &.active {
                background-color: $active-item-background-color;
              }
            }
          }

          @media (max-width: $screen-xs-max) {
            line-height: 20px;

            &:hover, &:focus {
              color: white;
            }
          }

          @media (min-width: $screen-sm-min) {
            line-height: 20px;

            color: #777;
            font-size: 28px;

            &:hover, &:focus {
              color: black;
            }
          }
        }
      }
    }

    .open {
      .dropdown-toggle {
        color: black !important;
        background-color: $active-item-background-color;
      }
      .dropdown-menu {

        padding: 0;

        li {

          width: 100%;
        }

        a {

          line-height: 2em;

          &.active {
            color: black;
            background-color: $active-item-background-color;
          }

          &:not(.active) {
            @media (max-width: $screen-xs-max) {
              color: #ddd;

              &:hover, &:focus {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .navbar-toggle {
    margin-right: 5px;
  }
}

.navbar-brand {
  font-family: Ethno_regular;
  color: $header-text-color !important;

  @media (max-width: $screen-xs-max) {
    padding: 10px;
  }

  @media (min-width: $screen-sm-min) {
    line-height: 40px;
  }

  img {
    float: left;
    margin-right: 5px;

    @media (min-width: $screen-sm-min) {
      width: 40px;
    }

    @media (max-width: $screen-xs-max) {
      width: 30px;
    }
  }

  .brand-name {
    float: left;

    @media (max-width: $screen-xs-max) {
      display: none;
    }


  }
}

.beta-label {
      position: absolute;
      top: 30px;
      left: 140px;
      font-size: 0.6em;
      color: $blue;
    }

.center-links {

  font-size: 20px;

  @media (max-width: $screen-xs-max) {
    margin: 0 -15px 0px -15px;
  }

  @media (min-width: $screen-sm-min) {
    li {
      a {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }
  }
}

.navbar .navbar-collapse {

  @media (min-width: $screen-sm-min) {
    text-align: center;
  }

  @media (max-width: $screen-xs-max) {
    background: rgba(76, 78, 90, 0.7);
  }
}

.dropdown-toggle {
  .account_img_container {
    display: inline-block;
    margin-right: 5px;

    img {
      height: 40px;
      @include all_browser(border-radius, 5px);
    }
  }
  .account_name {
    display: inline-block;
  }
}

.info-counter {
  background-color: $orange;
  color: white;
  padding: 0px 7px;
  border-radius: 25px;
  font-size: 14px;

  position: absolute;

  @media (max-width: $screen-xs-max) {
    left: 40px;
    top: 10px;
  }

  @media (min-width: $screen-sm-min) {
    left: 25px;
    top: 40px;
  }
}
