$yellow: #FAB31B;

$orange: #de2c14;

$lightred: #ffb3b3;

$green: #2BBD41;
$lightgreen: #B9E7BA;
$darkgreen: darken($green, 10%);

$lightblue: #99C4D5;
$babyblue: #E4F4F9;
$blue: #2588AB;
$darkblue: #2A2C4C;

$lightgrey: #e7e7e7;
$mediumgrey: #777;
$darkgrey: #4D5D62;

$header-text-color: $orange;
$text-color: $mediumgrey;
$border-color: $lightgrey;
$border-color-hover: $mediumgrey;

$summery-border-color: #bcbcbc;
$summery-border-color-hover: $mediumgrey;

$active-item-color: $blue;
$active-item-background-color: white;

$link-color: $mediumgrey;
$link-color-hover: #000;
$link-color-active: $active-item-color;

$input-color: #000;

$unread-message-color: $darkgrey;

$font-size-input: 18px;

$side-navbar-width: 400px;

$cancel-color: $orange;

$divider-color: $blue;

@font-face
{
  font-family: Ethno_regular;
  src:  url('/assets/fonts/ethnocentric_rg.ttf') format('truetype') /* Safari, Android, iOS, Chrome, Firefox */
}

@font-face
{
  font-family: Ethno_italic;
  src:  url('/assets/fonts/ethnocentric_rg_it.ttf') format('truetype') /* Safari, Android, iOS, Chrome, Firefox */
}

// needed for:
// border-radius
@mixin all_browser($property, $value)
{
     @each $prefix in -webkit-, -moz-, -ms-, -o-, ''
     {
         #{$prefix}#{$property}: $value;
     }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.no-padding {
  padding: 0 !important;
}

.do-not-display {
  display: none;
}
