.greeting {
  margin-bottom: 30px;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 50px;
  }

  .fb-sync-icon {
    font-size: 3rem;
  }
}
