@import "bootstrap-custom";
@import "variables";
@import "login";
@import "top_nav_bar";
@import "map";

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: Calibri, Arial, sans-serif;
}

.main-row {
  margin: 0;

  @media (min-width: $screen-sm-min) {
    margin-top: 70px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 50px;
  }
}
