@import "bootstrap-custom";
@import "variables";
@import "login";
@import "top_nav_bar";
@import "side_nav_bar";
@import "map";
@import "ember-cli-cal";
@import "calendar";

html, body {
  margin: 0;
  width: 100%;
}

body {
  font-family: Calibri, Arial, sans-serif;
  color: $text-color;
}

.main-row {
  margin: 0;

  @media (min-width: $screen-sm-min) {
    margin-top: 70px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 50px;
  }
}

.button {
  cursor: pointer;
  @include all_browser(border-radius, 5px);
  border: 1px solid $border-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}
