.invite-fb-friends {
  padding: 15px 0;
}

.friends-list-row {

  &:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }

  .friend {
    margin: 10px 0;

    .picture {
      height: 45px;
      margin-right: 10px;
      float: left;

      img {
        height: 100%;
      }
    }

    .name {
      line-height: 45px;
    }
  }
}
