{{!-- <div>{{#link-to 'members-area.friends.map'}}{{unbound fa-icon "fa-fixed-with fa-map-marker"}}{{/link-to}}</div> --}}
<div>{{#link-to 'members-area.friends.calendar'}}{{unbound fa-icon "fa-fixed-with fa-calendar"}}{{/link-to}}</div>
