<div class="map-section-title">
  Meethubs
  <div class="meethub-counter"></div>
</div>

{{!-- <div class="no-content-text">{{t meethub.not-in-a-meethub}}</div> --}}

<div class="side-nav-item">
  <button class="button">{{t meethub.button.create}}</button>
  <button class="button">{{t meethub.button.search}}</button>
</div>
