<div>{{#link-to 'members-area.map.meethubs'}}{{unbound fa-icon "fa-fixed-with fa-map-marker"}}{{/link-to}}</div>
<div>{{#link-to 'members-area.calendar.meethubs'}}{{unbound fa-icon "fa-fixed-with fa-calendar"}}{{/link-to}}</div>
