<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid isSidebarOpen:open:closed"}}>

    <h1>{{t "calendar"}} <span class="subtitle">{{outlet "title"}}</span></h1>

    {{outlet "content"}}

  </div>
</div>
