<span class="section-button" {{translateAttr  title='meethub.button.create'}}>
  {{#link-to 'members-area.meethubs.calendar.create'}}{{unbound fa-icon "fa-plus"}}{{/link-to}}
</span>
<span class="section-button" {{translateAttr  title='meethub.button.search'}}>
  {{#link-to 'members-area.meethubs.calendar.search'}}{{unbound fa-icon "fa-search"}}{{/link-to}}
</span>
