<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid isSidebarOpen:open:closed"}}>

    {{outlet}}

    {{!-- <div class="btn-group view-toggle">
      {{#link-to 'members-area.meethubs.calendar.index'}}<div class="btn btn-sm btn-default">{{unbound fa-icon "fa-fixed-with fa-th"}}</div>{{/link-to}}
      {{#link-to 'members-area.meethubs.calendar.list'}}<div class="btn btn-sm btn-default">{{unbound fa-icon "fa-fixed-with fa-align-justify"}}</div>{{/link-to}}
    </div> --}}

  </div>
</div>
