<div class="main-container">
  <h2>{{t 'comments'}} {{outlet 'title'}}</h2>
  {{outlet 'create-comment'}}
  <div class="comment-list">
    {{#each comment in model}}
      {{comment.text}}
    {{/each}}
  </div>
</div>
