<div>{{#link-to 'members-area.meethubs.news'}}{{unbound fa-icon "fa-fixed-with fa-list"}}{{/link-to}}</div>
<div>{{#link-to 'members-area.meethubs.map'}}{{unbound fa-icon "fa-fixed-with fa-map-marker"}}{{/link-to}}</div>
<div>{{#link-to 'members-area.meethubs.calendar'}}{{unbound fa-icon "fa-fixed-with fa-calendar"}}{{/link-to}}</div>
