{{outlet}}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#link-to 'privacy-policy'}}
            <span>{{fa-icon "info-circle" fixedWidth=true}}</span>
            <span class="link-label">Privacy Policy</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'members-area.bugreports.create'}}
            <span>{{fa-icon "bug" fixedWidth=true}}</span>
            <span class="link-label">Report a bug</span>
          {{/link-to}}
        </li>
        <li class="fb-like-button">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMeethub-Community/974492952584571&amp;width=200&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=560142730797423" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:21px;" allowTransparency="true"></iframe>
        </li>
        <li>
          <form class="donate-button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="66QU24UCS86M6">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
