<div class="login-container container-fluid">
  <div class="row login-logo-row">
    <img class="login-logo" src="assets/images/logo_square_120x120.png" />
  </div>
  <div class="row">
    <div class="login-title">MEETHUB</div>
  </div>
  <div class="row"
    <!-- facebook login -->
    <button class="fb-login-button" {{action "login"}}>{{unbound fa-icon "facebook-square"}} Log in with facebook</button>
  </div>
</div>
