<div class="login-container">
  <div class="login-title">MEETHUB</div>
  <!-- facebook login -->
  <button class="fb-login-button" {{action "login"}}>{{unbound fa-icon "facebook-square"}} Log in with facebook</button>
</div>
