{{!-- TITLE --}}
<div class="section-title">
  Events
</div>
{{!-- FILTER --}}
<div class="side-nav-item selectable" {{action "centerMapOnCurrentPosition"}}>
  Events Filter
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{#each event in model}}
    <div class="side-nav-item selectable" {{action 'center_map' event}}>
      <div>{{event.name}}</div>
      <div>{{event.location.name}}</div>
    </div>
  {{/each}}
</div>
