{{!-- TITLE --}}
<div class="section-title">
  {{t friend.title}}
</div>
{{!-- FILTER --}}
<div class="side-nav-item selectable">
  Friends Filter
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{#each friend in model}}
    <div class="side-nav-item selectable friend">
      <div class="picture"><img {{bind-attr src=friend.picture }} /></div>
      <div>{{friend.name}}</div>
    </div>
  {{/each}}
</div>
