{{!-- TITLE --}}
<div class="section-title">
  {{t friend.title}}
</div>
{{!-- FILTER --}}
<div class="side-nav-item selectable" {{action "centerMapOnCurrentPosition"}}>
  Friends Filter
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
</div>
