{{!-- TITLE --}}
<div class="section-title">
  Meethubs
  <div class="meethub-counter"></div>
</div>
{{!-- FILTER --}}
<div class="side-nav-item section-buttons">
  {{outlet section-buttons}}
</div>
{{outlet form}}
{{!-- LIST --}}
<div class="side-nav-item-container">
</div>

