{{!-- TITLE --}}
<div class="section-title">
  Meethubs
  <div class="meethub-counter"></div>
</div>
{{!-- FILTER --}}
<div class="side-nav-item section-buttons">
  {{outlet section-buttons}}
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{outlet form}}
  {{#each meethub in model}}
    <div class="side-nav-item selectable meethub">
      <div>{{meethub.name}}</div>
    </div>
  {{/each}}
</div>

