<div class="side-nav-bar">
  <div class="side-bar-links">
    <div {{action 'toggleSidebar'}}>{{unbound fa-icon "fa-reorder"}}</div>
    {{outlet side-nav-buttons}}
  </div>
  <div class="section-content">
    {{outlet side-nav-bar}}
  </div>
</div>
