<div class="row">
  <h1>Hi {{model.first_name}}</h1>
  {{#if 'model.first_login'}}
    <h3>Willkommen bei Meethub.</h3>
  {{else}}
    <h3>Willkommen zurück.</h3>
  {{/if}}
</div>

<div class="row summary">
  <div class="col-xs-12">
    <div>0 neue Meethub-Einladungen</div>
    <div>{{number_of_new_event_invitations}} neue Event-Einladungen</div>
  </div>
</div>
